.sidebar{
    min-width:var(--sidebar-width);
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    background-color: var(--second-bg);
    box-shadow: var(--box-shadow);
}

.sidebar__logo {
    height:150px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sidebar__logo > img {
    height:100px;
    width:100px;
    border-radius:50%;
}

.sidebar__item {
    padding: 0 20px;
    
}

.sidebar__item-inner {
    padding: 15px 20px;
    display:flex;
    align-items:center;
    margin-bottom:40px;
    font-weight: 600;
    transition: color .3s ease 0s;
}

.sidebar__item-inner > i{
    margin-right:20px;
    font-size:1.5rem;
}

.sidebar__item-inner > span {
    text-transform: capitalize;
}


.sidebar__item-inner:hover {
    color: var(--main-bg);
}

.sidebar__item-inner.active {
    border-radius : var(--border-radius);
    background-image: linear-gradient(
        to right,
        var(--main-bg),
        var(--main-bg)
    );
    color: var(--txt-white)
}